pycache/
*.py[cod]
*.pyo
*.pyd
*.so
__pycache__/
venv/
.venv/
.env/
.env.*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.next/
.env
.env.local
.env.development
.env.production
*.wt
*.lock
dump/
atlas_backup/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.pem
*.key
.local
