annotated-doc
annotated-types
anyio
bcrypt
beanie
certifi
cffi
cryptography
dnspython
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
h11
httpcore
httptools
httpx
idna
invoke
Jinja2
lazy-model
markdown-it-py
MarkupSafe
mdurl
motor
paramiko
passlib
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pymongo
PyNaCl
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
rignore
sentry-sdk
shellingham
starlette
typer
typing-inspection
typing_extensions
urllib3
uvicorn
#uvloop
watchfiles
websockets

